.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.title{text-align: center;}
.show-list{
    width:1200px;
    position:relative;
    margin:0 auto;
    border:1px solid #ddd;
}
.show-list .grid{
    height:auto;
}
.show-list .grid .grid-item{
    float: left;
    width: 226px;
    margin: 0 2px 8px;
    padding: 5px;
    overflow: hidden;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    transform: translateY(100px);
    transition: all 1.5s ease;
    overflow: hidden;
    box-shadow: 0 0 8px #ccc;

}
.show-list .grid .grid-item:hover{
    cursor: pointer;
}

.grid-item img{
    display:block;
    width:100%;
    height:auto;
}

.show-list .grid .css3-show{
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    transform: none;
}

#infscr-loading { display: none;
    text-align: center;
    z-index: 18888;
    position: fixed;
    left: 50%;
    margin-left:-100px;
    font-size:16px;
    bottom: 40px;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.no-more{
    text-align: center;height: 25px;line-height: 25px;padding: 15px 0 35px 0;display: none;
}
.no-more h3{.inline-block;padding: 0 130px;position: relative}
.no-more .line{display: block;position:absolute;top: 50%;left: 0;width: 100%;height: 1px;background-color: #ddd;}
.no-more strong{position: relative;padding: 0 30px;background-color: #ffffff;font-weight: normal;color: #000000;}
.no-more.empty{display: block;padding: 100px 0 35px 0;}

select{
    font-family: Arial,Helvetica,sans-serif;
    outline: 0;
    color: #333;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    padding: 5px 10px 5px 0;
    vertical-align: middle;
    width: 200px;
}



